<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}CardControl{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="/static/images/logo.png" type="image/png">
</head>
<body class="container">
<header>
    <div class="header-wrapper">
        {% block logo %}
          <img src="{% static 'images/logo.png' %}" alt="Your Logo">
        {% endblock logo %}
    </div>
    <nav class="top-buttons">
        <a href="{% url 'landing' %}">Home</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'my_account' %}">My Account</a>
        <a href="https://cardcontrol.substack.com" class="top-button">Blog</a>
    </nav>
</header>
{% block page_content %}{% endblock page_content %}
</body>
</html>