

<!DOCTYPE html>

{% extends "base.html" %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <section class="hero">
        <div class="center">
            <h1>CardControl</h1>
            <h1>Freeze. Protect. Breathe.</h1>
            <p>With just one alert, we notify all your credit card issuers, freezing your accounts and preventing unauthorized charges.</p>
            <a href="{% url 'signup' %}">Sign Up Now</a>
        </div>
    </section>
    <section class="benefits">
        <h2>Benefits</h2>
        <ul>
            <li>Single Point Alert: [Name, Phone Number, PIN] That's it takes to instantly notify each card issuer on file. Protection for when it matters. </li>
            <li>Protected Data: Data is stored in a secure cloud database provider, leveraging the highest level of consumer data protection.</li>
            <li>Automated Execution: When you submit an Alert Notification, we instantly identify the card issuers on account and individually send the notification for lost or stolen cards. Let us worry about the logistics of protecting yourself from fraudulent charges!</li>
            <li>Dedicated Support: 24/7 ability to submit an Alert Notification to each of your card issuers. Need to update cards on file? Reach out to our customer support team any time!</li>
        </ul>
    </section>
    <section class="features">
        <h2>Features</h2>
        <ul>
            <li>Single Point Notification</li>
            <li>Secure Data</li>
            <li>Worry Free</li>
            <li>We've designed a system that gives you a single touch point to notify multiple card issuers at once. We maintain secure databases to ensure our member data is protected. We do not sell personal identifying information to third parties.</li>
        </ul>
    </section>
    <section class="cta-bottom"> 
    </section>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% endblock %}
